body {
  font-family: 'Helvetica', sans-serif;
  background: #fffbf4;
  text-align: start;
  margin: 30px;
}

h1 {
  color: #f89174;
}

h2 {
  color: #f89174;
}

a {
  color: #091ced;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #333;
}

.tab-001 {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
}

.tab-001 > label {
    flex: 1 1;
    order: -1;
    min-width: 120px;
    padding: .7em 1em .5em;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 0;
    background-color: #f6eee9;
    color: #fa8620;
    font-size: .9em;
    text-align: center;
    cursor: pointer;
}

.tab-001 > label:hover {
    opacity: .8;
}

.tab-001 input {
    display: none;
}

.tab-001 > div {
    display: none;
    width: 100%;
    padding: 1.5em 1em;
    background-color: #fff;
}

.tab-001 label:has(:checked) {
    background-color: #fff;
    border-color: #2589d0 #f0f0f0 #fff;
    border-style: solid;
    border-width: 4px 1px 1px;
    border-radius: 5px;
    color: #333333;
}

.tab-001 label:has(:checked) + div {
    display: block;
}
